
body, div, a, ul, li, header, nav, main, aside, footer, h1, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    --darkest-color: #001;
    --dark-color: #005;
    --lessdark-color: #006;
    --dark-color2: #001;
    --main-color: #117;
    --main-color2: #118;
    --second-color: #448;
    --text-color: #ddf;
    background: linear-gradient(var(--dark-color),var(--dark-color2));
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    min-height: 95dvh;
    width: clamp(300px, 85vw, 1900px);
    background: linear-gradient(var(--main-color),var(--main-color2));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding-bottom: 20dvh;
}

.main__title {
    width: clamp(300px,65%,900px);
    height: 5rem;
    background-color: var(--lessdark-color);
    border-bottom: var(--dark-color) 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2.2vw,3rem);
}

.main__title h1 {
    filter: drop-shadow(0px 0px 25px #fff2) drop-shadow(0px 0px 15px #fff5) drop-shadow(0px 0px 5px #fff);
}

.main__showcase {
    width: clamp(200px, 60%, 700px);
    height: 12rem;
    background-color: var(--second-color);
    margin-top: 3.5rem;
    border: var(--lessdark-color) 3px solid;
}

.main__code {
    background-color: var(--lessdark-color);
    min-height: auto;
    width: clamp(300px, 85%, 800px);
    margin-top: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.keyboard--textbox {
    background-color: var(--dark-color);
    height: 3rem;
    width: 85%;
    border-radius: 1rem;
    margin: .3rem 0px 1rem 0px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem,2.2vw,3rem);
    color: var(--text-color);
    font-weight: bolder;
}

.keyboard--textbox span {
    filter: drop-shadow(0px 0px 25px #fff2) drop-shadow(0px 0px 15px #fff5) drop-shadow(0px 0px 5px #fff);
}

.code__keyboard {
    width: 100%;
    min-height: 15rem;
}

.keyboard--row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 3px;
    margin-top: 3px;
}

.keyboard__button {
    background-color: var(--main-color);
    width: 50px;
    padding: 15px 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
}

.number {
    margin-bottom: 5px;
}

.del {
    background-color: #c55;
}

.enter {
    background-color: #ca5;
}

.del, .enter {
    margin-top: 5px;
}

.keyboard__button:active {
    background-color: var(--dark-color);
}

.keyboard__button::selection {
    background-color: transparent;
}

.enter:active {
    background-color: #b94;
}

.del:active {
    background-color: #b44;
}

@media screen and (max-width: 500px) {
    .main {
        width: 100%;
    }
    .main__title {
        width: clamp(200px,65%,900px);
        font-size: clamp(.5rem, 4vw,3rem);
    }
    .main__showcase {
        width: clamp(200px, 70%, 700px);
    }
    .main__code {
        width: 100%;
    }
}